/* nav.css */
nav.navbar {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  gap: 1.5rem;
  justify-content:center;
}

nav.navbar a {
  text-decoration: none;
  color: #999999;
  font-family: 'Scypha', sans-serif;
  letter-spacing: 0.01em;
}

nav.navbar a:hover {
  color: #000;
}
